/* p {
  background-color: red;
  color: green;
} */

/* div {
    background-color: red;
    padding: 20px;
}

p {
    border: 2px solid black;
    padding: 5px;
} */


/* .practice {
    background-color: black;
    color: yellow;
    width: 100px;
    height: 150px;
} */

/* .red-bg {
    background-color: red;
    color: aqua;
} */

/* .dark-mode {
    background-color: black;
    color: orange;
} */

/* .box {
    background-color: red;
    border: 5px solid yellow;
    width:  150px;
    height: 150px;
} */